*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

*.red-mask::after {
  @include center-self();
  @include fill-in();
  background-color: $color-main;
  content: '';
  opacity: 0.75;
}

img {
  max-height: 100%;
  max-width: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;

  &,
  li,
  li a {
    @include center-items();
  }

  li a {
    @include fill-in();
  }
}
