@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');

$color-red: rgba(189, 8, 28, 1);
$color-black: rgba(12, 12, 12, 1);
$color-white: rgba(250, 250, 250, 1);
$min-root-font-size: 16;
$min-root-font-size-px: 16px;
$max-root-font-size: 64;
$base-height: 100vh;
$base-width: 100vw;
$min-body-size: 256;
$min-body-size-px: 256px;
$max-body-size: 4096;
$max-body-size-px: 4096px;
$main-height: 82.5%;
$header-height: 100% - $main-height - 2.75%;
$footer-height: 100% - ($main-height + $header-height);

@mixin cursive {
  font-family: 'Lobster', cursive;
}

@mixin sans {
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin serif {
  font-family: 'Source Serif Pro', serif;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-from {
  0% {
    opacity: 0;
    transform: translateY(-0.125rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

*.red-mask::after {
  background-color: $color-red;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.5;
  top: 0;
  width: 100%;
}

body,
html {
  height: 100%;
  width: 100%;
}

html {
  @media (min-width: $min-body-size-px) {
    font-size: calc(
      #{$min-root-font-size-px} + (
          #{$max-root-font-size} - #{$min-root-font-size}
        ) * ((#{$base-height} - #{$min-body-size-px}) /
            (#{$max-body-size} - #{$min-body-size}))
    );
  }

  @media (orientation: portrait) and (min-width: $min-body-size-px) {
    font-size: calc(
      #{$min-root-font-size-px} + (
          #{$max-root-font-size} - #{$min-root-font-size}
        ) * ((#{$base-width} - #{$min-body-size-px}) /
            (#{$max-body-size} - #{$min-body-size}))
    );
  }
}

body {
  animation: fade forwards 750ms ease-in-out;
  background-color: $color-red;
  color: $color-black;
  margin: 0 auto;
  max-width: $max-body-size-px;
  min-width: $min-body-size-px;
  opacity: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;

  &,
  li,
  li a {
    display: flex;
  }

  li a {
    height: 100%;
    width: 100%;
  }
}

header {
  align-items: center;
  background-image: url('../images/banner.jpg');
  background-position-y: 42.5%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-size: 1.75rem;
  height: $header-height;
  justify-content: space-evenly;
  position: relative;

  &::after {
    z-index: 0;
  }

  & > * {
    z-index: 1;
  }

  a {
    color: $color-white;
    text-decoration: none;
  }

  ul.menu {
    @include sans();
    order: 3;

    a {
      font-size: 0.375em;
      font-weight: bold;
      padding: 0 0.85em;
      text-transform: uppercase;
    }
  }

  a.jsl-logo {
    $jsl-logo-size: 2.5em;

    background-color: $color-white;
    border: solid #{$jsl-logo-size * 0.02} $color-red;
    border-radius: 50%;
    max-height: $jsl-logo-size;
    order: 2;
    padding: #{$jsl-logo-size * 0.1};
    width: $jsl-logo-size;

    @media (max-width: #{$min-body-size-px * 2}) {
      max-height: $jsl-logo-size * 0.75;
      width: $jsl-logo-size * 0.75;
    }
  }

  ul.social {
    order: 1;

    a {
      font-size: 0.75em;
      padding: 0 0.25em;
    }
  }
}

header:not(:target) {
  @media (max-width: #{$min-body-size-px * 2}) {
    ul.menu,
    a.jsl-logo,
    ul.social {
      position: absolute;
    }

    ul.menu,
    ul.social {
      right: 0.25em;
    }

    ul.menu {
      top: 0.25em;
    }

    a.jsl-logo {
      left: 0.25em;
    }

    ul.social {
      bottom: 0.25em;

      a {
        font-size: 0.55em;
      }
    }
  }
}

header:target {
  background-position: center center;
  flex-direction: column-reverse;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  transition: none;

  ul.menu {
    position: absolute;
    top: 0.25em;
    right: 0.25rem;

    @media (max-width: #{$min-body-size-px * 4}) {
      right: initial;
    }
  }

  a.jsl-logo {
    $jsl-logo-size: 9.25em;

    border: solid #{$jsl-logo-size * 0.015} $color-red;
    max-height: $jsl-logo-size;
    padding: #{$jsl-logo-size * 0.085};
    width: $jsl-logo-size;

    @media (max-width: #{$min-body-size-px * 2}) {
      max-height: $jsl-logo-size * 0.75;
      width: $jsl-logo-size * 0.75;
    }
  }

  ul.social a {
    font-size: 1em;
    padding: 1em 0.5em;
  }
}

main {
  background-color: $color-white;
  height: $main-height;
  overflow: hidden;
  position: relative;
}

section {
  font-size: 1rem;
  height: 100%;
  left: 0;
  overflow: auto;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;

  &:target {
    opacity: 1;
    pointer-events: initial;
    z-index: 1;

    h1.title {
      animation: slide-from forwards 150ms ease-in-out;
    }

    @for $index from 1 to 100 {
      li:nth-of-type(#{$index}) a,
      p:nth-of-type(#{$index}) {
        animation: slide-from forwards #{125 + ($index * 50)}ms ease-in-out;
      }
    }
  }

  &,
  h1.title {
    opacity: 0;
  }

  h1.title,
  p.paragraph {
    padding: 0 1.75em;
  }

  h1.title {
    @include cursive();
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center;
  }

  p.paragraph {
    @include serif();
    font-size: 1em;
    line-height: 1.85em;
    margin: 1.25em 0;
    text-align: justify;

    @media (max-width: #{$min-body-size-px * 2}) {
      text-align: left;
    }

    span {
      @include cursive();
    }
  }
}

ul.activities-gallery {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 95%;

  li.activities-gallery-item {
    font-size: 0.75rem;
    padding: 1em;

    a {
      align-items: center;
      background-color: $color-red;
      display: flex;
      justify-content: center;
      padding: 0.25em;
      position: relative;

      img {
        filter: grayscale(100%);
        max-height: 50vh;
      }
    }
  }
}

div.activities-pic-modal {
  display: none;

  &:target {
    background-color: rgba($color-black, 0.99);
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;

    &,
    a {
      width: 100%;
      height: 100%;
    }

    a {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    img {
      background-color: rgba($color-red, 0.95);
      border-radius: 0.25rem;
      max-height: 95%;
      max-width: 95%;
      padding: 0.25rem;
    }
  }
}

ul.projects-gallery {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  margin: 0 auto;
  width: 75%;

  li {
    text-align: center;
    transition: background-color 150ms ease-in-out;

    &:nth-child(odd) {
      background-color: rgba($color-black, 0.125);
    }

    &:nth-child(even) {
      background-color: rgba($color-black, 0.0625);
    }

    &:hover {
      background-color: rgba($color-red, 0.25);
    }
  }

  a {
    @include serif();
    justify-content: center;
    padding: 1em;
    text-decoration: none;
    color: $color-black;
  }
}

footer {
  align-items: center;
  box-shadow: inset 0 1px 0 rgba($color-red, 0.125);
  background-color: $color-white;
  display: flex;
  font-size: 0.55rem;
  height: $footer-height;
  justify-content: flex-end;

  a {
    color: rgba($color-black, 0.5);
    margin: 0 0.75em;
  }

  @media (max-width: #{$min-body-size-px * 2}) {
    justify-content: space-evenly;

    a {
      margin: 0;
    }
  }
}
