@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

.display {
  font-family: 'Lobster', cursive;
}
.serif {
  font-family: 'Source Serif Pro', serif;
}
body,
.sans {
  font-family: 'Source Sans Pro', sans-serif;
}

// body,
// html {
//   // margin: 0px;
//   // border: 0px;
//   // padding: 0px;
//   // text-align: center;
// }
#banner {
  width: 100%;
  height: 450px;
  background-image: url('../images/banner.jpg');
  background-size: cover;
}
.logo {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  border: 5px #bd081c solid;
}
.text,
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.col {
  width: 49%;
  display: inline-block;
  text-align: justify;
  padding: 5px;
}
.col p {
  font-size: 16px;
  line-height: 24px;
}
.col p span.display {
  height: 22px;
}
.links a i {
  font-size: 42px;
}
.gallery {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
}
.thumbnail {
  max-width: 40%;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
}
.footer a {
  color: #bd081c;
  text-decoration: none;
}
